.App {
  text-align: center;
}

.gratingContainer {
  max-width: 300px;
  margin: auto;
  border: 2px solid #000;
  text-align: center;
}

.gratingImg {
  display: block;
  width: 100%;
}

.gratingText {
  font-size: 20px;
  margin-top: 10px;
}

.topBorder {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 10px 0;
  display: inline-block;
  text-align: center;
}




.App-link {
  color: #61dafb;
}


