.App {
  text-align: center;
}

.gratingContainer {
  max-width: 300px;
  margin: auto;
  border: 2px solid #000;
  text-align: center;
}

.gratingImg {
  display: block;
  width: 100%;
}

.gratingText {
  font-size: 20px;
  margin-top: 10px;
}

.topBorder {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 10px 0;
  display: inline-block;
  text-align: center;
}


.personCardText {
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  margin: 0;
}

.cardContainer {
  border: 3px solid #565656;
  background-color: #000;
  max-width: 250px;
  border-radius: 10px;
  margin: 7px auto;
  padding: 20px 10px;
}

.helloContainer {
  max-width: 600px;
  margin: auto;
}
.routeLinks {
  margin: 5px 0;
  display: inline-block;
  color: #1e3aab;
}

.clockBorder {
  display: inline-block;
  border: 1px solid #000;
  padding: 0 5px;
}

h1 {
  text-align: center;
}

.linksContainer {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 250px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgba(82, 80, 79, 0.46);
}


